{% extends "layout/base.html" %}

{% block 'title' %}
 List of Genders 
{% endblock 'title' %} 

{% block 'content' %}
<a href="/gender/add" class="btn btn-primary">Add Gender</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id (PK)</th>
      <th scope="col">Gender</th>
      <th scope="col">Date Created</th>
      <th scope="col">Date Updated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for gender in genders %}
      <tr>
        <td>{{ gender.gender_id }}</td>
        <td>{{ gender.gender }}</td>
        <td>{{ gender.date_created }}</td>
        <td>{{ gender.date_updated }}</td>
        <td>
          <div class="btn-group">
            <a href="#" class="btn btn-success">Update</a>
            <a href="#" class="btn btn-danger">Delete</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock 'content' %}
