{% extends "layout/base.html" %}

{% block 'title' %} Add User {% endblock 'title' %}

{% block 'content' %}
{% include "include/navbar.html" %}
<div class="m-5 col-sm-6 mx-auto">
  <h5>Are you sure do you want to delete this user?</h5>
  <form action="/user/destroy/{{ user.user_id }}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" readonly />
    </div>
    <div class="mb-3">
      <label for="middle_name">Middle Name</label>
      <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ user.middle_name }}" readonly />
    </div>
    <div class="mb-3">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" readonly />
    </div>
    <div class="mb-3">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" name="age" value="{{ user.age }}" readonly />
    </div>
    <div class="mb-3">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender" value="{{ user.gender }}" readonly />
    </div>
    <div class="mb-3">
      <label for="birthdate">Birth Date</label>
      <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{ user.birthdate }}" readonly />
    </div>
    <div class="mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" readonly />
    </div>
    <a href="/users" class="btn btn-secondary">Go To List of Users</a>
    <button type="submit" class="btn btn-primary">Yes</button>
  </form>
</div>
{% endblock 'content' %}